<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>VOLANTINO AUTO</title>
</head>
<body>
	<div class="intestazione">
		<h2 align="center">BENVENUTO NEL VOLANTINO AUTO</h2>
		<h1 align="center">ELENCO AUTO</h1>
	</div>
	<div align="center" class="inserimento">
		<p align="center">
			<a href="newAuto">INSERISCI AUTO </a>
		</p>
	</div>
	<div align="center">
		<a href="/Auto"><img th:src="@{/image/auto.png}" width="500"
			height="500"></a>
	</div>
</body>
</html>